@import "./web-gallery.css";
@import "./web-info.css";
@import "./web-text.css";

:root {
  --red: #ff4d4d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 1600px;
  font-family: "Ubuntu", sans-serif;
}
.btn-red {
  color: #eee;
  background-color: var(--red);
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/background.jpeg") no-repeat center;
  background-size: cover;
  position: relative;
}
.nav-list {
  list-style: none;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  display: flex;
  background-color: #272727;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-500px);
  z-index: 12;
  transition: 0.3s linear;
  border-bottom: 1px solid #ccc;
}
.nav-list_item {
  padding: 20px;
}
.nav-list_item a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
.hamburger .hamburger-icon {
  display: block;
  position: fixed;
  z-index: 15;
  top: 10px;
  right: 30px;
  width: 48px;
  height: 48px;
}
.hamburger .hamburger-icon i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--red);
  transition: 0.3s linear;
}

.hamburger .hamburger-icon i:nth-of-type(2) {
  top: calc(100% - 12px);
  opacity: 1;
}
.hamburger .hamburger-icon i:nth-of-type(3) {
  top: calc(0% + 12px);
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ .nav-list {
  transform: translateY(0);
}
#hamburger-menu:checked + .hamburger-icon i:nth-of-type(3) {
  transform: translate(-24px, 10px) rotate(45deg);
}
#hamburger-menu:checked + .hamburger-icon i:nth-of-type(1) {
  transform: translate(-24px, -2px) rotate(-45deg);
}
#hamburger-menu:checked + .hamburger-icon i:nth-of-type(2) {
  opacity: 0;
}

.content-web {
  width: 90vw;
  height: 1850px;
  margin: 70px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(-575px);
  background: linear-gradient(0deg, #272727 74%, transparent 83%);
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.footer {
  width: 100%;
  height: 450px;
  transform: translateY(-620px);
  background-color: #272727;
  z-index: 5;
}
