:root {
  --red: #ff4d4d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-height: 1600px;
  font-family: "Ubuntu", sans-serif;
}
.btn-red {
  color: #eee;
  background-color: var(--red);
  border: none;
  padding: 10px 30px;
  text-transform: uppercase;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./background.jpeg") no-repeat center;
  background-size: cover;
  position: relative;
}
.nav-list {
  list-style: none;
  text-transform: uppercase;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  display: flex;
  background-color: #272727;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-500px);
  z-index: 12;
  transition: 0.3s linear;
  border-bottom: 1px solid #ccc;
}
.nav-list_item {
  padding: 20px;
}
.nav-list_item a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}
.hamburger .hamburger-icon {
  display: block;
  position: fixed;
  z-index: 15;
  top: 10px;
  right: 30px;
  width: 48px;
  height: 48px;
}
.hamburger .hamburger-icon i {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--red);
  transition: 0.3s linear;
}

.hamburger .hamburger-icon i:nth-of-type(2) {
  top: calc(100% - 12px);
  opacity: 1;
}
.hamburger .hamburger-icon i:nth-of-type(3) {
  top: calc(0% + 12px);
}

#hamburger-menu {
  display: none;
}
#hamburger-menu:checked ~ .nav-list {
  transform: translateY(0);
}
#hamburger-menu:checked + .hamburger-icon i:nth-of-type(3) {
  transform: translate(-24px, 10px) rotate(45deg);
}
#hamburger-menu:checked + .hamburger-icon i:nth-of-type(1) {
  transform: translate(-24px, -2px) rotate(-45deg);
}
#hamburger-menu:checked + .hamburger-icon i:nth-of-type(2) {
  opacity: 0;
}

.content-web {
  width: 95vw;
  height: 1250px;
  margin: 70px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(-525px);
  background: linear-gradient(0deg, #272727 74%, transparent 83%);
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.content-web_info {
  height: auto;
  width: 100%;
  position: relative;
  color: #eee;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.content-web_info > h1 {
  text-transform: uppercase;
}
.content-web_info > p:first-of-type {
  font-family: "Indie Flower", cursive;
  font-size: 1.2em;
}

.content-web_text {
  height: 80vh;
  width: 100%;
}

.content-web_gallery {
  background: #ccc;
  width: 100%;
  height: 90vh;
  position: relative;
}
.content-web_gallery::before {
  content: "";
  position: absolute;
  width: 90px;
  transform: translate(-50%, 50px);
  height: 90px;
  bottom: 0;
  left: 50%;
  background-color: #272727;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.content-web_gallery::after {
  content: "";
  position: absolute;
  width: 90px;
  transform: translate(-50%, -40px);
  height: 90px;
  top: 0;
  left: 50%;
  background-color: #ccc;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.content-web-info_describe {
  color: #b3b3b3;
  margin-top: 80px;
}
.content-web-info_describe .right-side .img-container h5 {
  margin: 5px 0;
  font-size: 1.1em;
}
.content-web-info_describe .right-side h3 {
  margin: 50px 0 0 0;
  font-size: 1.4em;
}
.content-web-info_describe .left-side h3 {
  font-size: 1.4em;
}
.content-web-info_describe .right-side .btn-red {
  margin-top: 30px;
}

.footer {
  width: 100%;
  height: 450px;
  transform: translateY(-620px);
  background-color: #272727;
  z-index: 5;
}
